# Preencha com os valores reais. Caracteres especiais podem ser usados normalmente.
# O container sobe com UTF-8 forcado via LANG/LC_ALL/JAVA_TOOL_OPTIONS.
SPRING_DATA_MONGODB_DATABASE=HUB_PARCEIROS
SPRING_DATA_MONGODB_CERTIFICATE_PATH=/app/certs/rsdevhubinparceiros.p12
SPRING_DATA_MONGODB_CERTIFICATE_PWD=rsdevhubinparceiros
SPRING_DATA_MONGODB_HOST=rsdevhubinparceiros.portoseguro.brasil
SPRING_DATA_MONGODB_WRITE_USERNAME=sathubparceiros_w@portoseguro.brasil
SPRING_DATA_MONGODB_READ_USERNAME=sathubparceiros_r@portoseguro.brasil
SPRING_DATA_MONGODB_WRITE_PASSWORD=ALTERE_AQUI_WRITE
SPRING_DATA_MONGODB_READ_PASSWORD=ALTERE_AQUI_READ
SPRING_DATA_MONGODB_REPLICA_SET=rsdevhubinparceiros
SPRING_DATA_MONGODB_MTLS=true
SPRING_DATA_MONGODB_AUTH_DATABASE=HUB_PARCEIROS
APPLICATION_RATE_LIMIT_ENABLED=true
APPLICATION_RATE_LIMIT_REQUESTS=120
APPLICATION_RATE_LIMIT_WINDOW_SECONDS=60
APPLICATION_OBSERVABILITY_HTTP_ENABLED=true
APPLICATION_OBSERVABILITY_HTTP_LOG_BODIES=false
APPLICATION_OBSERVABILITY_HTTP_LOG_BODIES_ON_ERROR=true
APPLICATION_OBSERVABILITY_HTTP_SUCCESS_SAMPLE_PERCENT=5
APPLICATION_OBSERVABILITY_HTTP_MAX_PAYLOAD_LENGTH=8192